<template>
    <div class="container">
        <v-row
            v-if="companies.length"
            class="pa-4"
            justify="space-between"
        >
            <v-col cols="12" md="6">
                <v-treeview
                    :active.sync="active"
                    :items="items"
                    :load-children="fetchCompanies"
                    activatable
                    open-on-click
                    transition
                    :loading="loading"
                    open-all
                >
                    <template v-slot:prepend="{ item, active }">
                        <v-icon v-if="!item.children">mdi-account</v-icon>
                    </template>
                </v-treeview>
            </v-col>

            <v-divider vertical class="hidden-sm-and-down"></v-divider>
            <v-col
                class="d-flex text-center"
            >
                <v-scroll-y-transition mode="out-in">
                    <div
                        v-if="!selected"
                        class="title grey--text text--lighten-1 font-weight-light"
                        style="align-self: center;"
                    >
                        Select a Company
                    </div>
                    <v-card
                        v-else
                        :key="selected.id"
                        class="pt-6 mx-auto"
                        flat
                        max-width="400"
                    >
                        <v-card-text>
                            <v-img
                                height="100%"
                                src="https://cdn.vuetifyjs.com/images/cards/server-room.jpg"
                            ></v-img>
                        </v-card-text>
                        <v-divider></v-divider>
                        <v-row
                            class="text-left"
                            tag="v-card-text"
                        >
                            <v-col class="text-right mr-4 mb-2" tag="strong" cols="5">Company:</v-col>
                            <v-col>{{selected.name}}</v-col>
                            <v-col class="text-right mr-4 mb-2" tag="strong" cols="5">Website:</v-col>
                            <v-col>
                                <a :href="`//${selected.website}`" target="_blank">{{ selected.website }}</a>
                            </v-col>
                            <v-col class="text-right mr-4 mb-2" tag="strong" cols="5">Email:</v-col>
                            <v-col>{{selected.email}}</v-col>
                        </v-row>
                        <button @click="showCompanyEmployees(selected.id)" class="btn blue white--text">Show Employees
                        </button>
                        <v-btn
                            fab
                            small
                            text
                            @click="editCompany(selected)"
                        >
                            <v-icon>mdi-lead-pencil</v-icon>
                        </v-btn>
                        <v-btn
                            fab
                            small
                            dark
                            color="red"
                            text
                            @click="deleteCompany(selected.id)"
                        >
                            <v-icon>mdi-delete-empty</v-icon>
                        </v-btn>

                    </v-card>
                </v-scroll-y-transition>
            </v-col>
        </v-row>
        <div v-else class="mt-5">No any company</div>
        <v-dialog v-model="dialog" persistent max-width="600px">
            <v-card>
                <form @submit.prevent="addCompany" class="mb-3">
                    <v-card-title>
                        <span class="headline">Company</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container>
                            <v-row>
                                <v-col cols="12" sm="6">
                                    <v-text-field label="Company name*" required
                                                  v-model="company.name"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6">
                                    <v-text-field
                                        label="website"
                                        hint="example of persistent helper text"
                                        persistent-hint
                                        v-model="company.website"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field label="Email" v-model="company.email"></v-text-field>
                                </v-col>
                            </v-row>
                        </v-container>
                        <small>*indicates required field</small>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                        <v-btn :disabled="!validForm" type="submit" color="blue darken-1" text
                               @click="dialog = false">Save
                        </v-btn>
                    </v-card-actions>
                </form>
            </v-card>
        </v-dialog>
        <v-snackbar v-model="snackbar" color="error">
            Company has employeees
        </v-snackbar>
        <v-btn fixed dark fab bottom right color="pink" @click="openDialog()">
            <v-icon>mdi-plus</v-icon>
        </v-btn>
    </div>
</template>


<script>
    export default {
        data() {
            return {
                snackbar: false,
                imgurl: null,
                loading: true,
                dialog: false,
                active: [],
                avatar: null,
                open: [],
                open_all: true,
                companies: [],
                selectedCompany: null,
                company: {
                    id: '',
                    name: '',
                    email: '',
                    logo: '',
                    website: '',
                },
            }
        },

        created() {
            this.fetchCompanies()
            this.imgurl = require('../../storage/app/public/image.jpg')
        },
        props: ['authUser'],
        methods: {
            addCompany() {
                if (this.selectedCompany != null) {
                    this.saveEditedCompany()
                } else
                    fetch('api/company', {
                        method: 'post',
                        body: JSON.stringify(this.company),
                        headers: {
                            'content-type': 'application/json'
                        }
                    })
                        .then(res => res.json())
                        .then(data => {
                            this.company.name = '';
                            this.company.email = '';
                            this.company.logo = '';
                            this.company.website = '';
                            this.fetchCompanies()
                        })
            },
            editCompany(company) {
                this.selectedCompany = company
                this.company.email = company.email
                this.company.logo = company.logo
                this.company.name = company.name
                this.company.website = company.website
                this.dialog = true
            },
            saveEditedCompany() {
                this.selectedCompany.email = this.company.email
                this.selectedCompany.logo = this.company.logo
                this.selectedCompany.name = this.company.name
                this.selectedCompany.website = this.company.website
                fetch('api/company', {
                    method: 'put',
                    body: JSON.stringify(this.selectedCompany),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                    .then(res => res.json())
                    .then(data => {
                        this.fetchCompanies()
                    })
            },
            getFilePath($event) {
                //this.imgurl = require('../../storage/app/public/image.jpg')
                this.company.logo = "../../storage/app/public/" + $event.name
                console.log($event)
            },
            fetchCompanies() {
                fetch('/api/companies')
                    .then(res => res.json())
                    .then(res => {
                        this.companies = res;
                        this.loading = false
                    })
                    .catch(err => console.log(err));
            },
            deleteCompany(id) {
                if (confirm('Are you sure?')) {
                    fetch(`api/company/${id}`, {
                        method: 'delete'
                    })
                        .then(res => res.json())
                        .then(data => {
                            this.fetchCompanies();
                        })
                        .catch(err => this.snackbar = true);
                }
            },
            showCompanyEmployees(id) {
                window.location.href = `/employees?id=${id}`;
            },
            openDialog() {
                this.company.id = '';
                this.company.name = '';
                this.company.email = '';
                this.company.logo = '';
                this.company.website = '';
                this.selectedCompany = null
                this.dialog = true
            }
        },

        computed: {
            validForm() {
                if (this.company.name) {
                    return true;
                }
            },
            items() {
                return [
                    {
                        name: 'Companies',
                        children: this.companies,
                    },
                ]
            },
            selected() {
                if (!this.active.length) return undefined
                const id = this.active[0]
                return this.companies.find(company => company.id === id)
            },
        }
    }
</script>
