<template>
    <div class="container">
        <v-card v-if="employees.length" class="mx-auto pa-5 mt-5" max-width="600" :loading="loading">
            <v-list shaped>
                <v-list-item-group v-model="item">
                    <v-divider></v-divider>
                    <v-scroll-y-transition group hide-on-leave>
                        <template v-for="(item, i) in employees">
                            <v-list-item
                                :key="`item-${i}`"
                                :value="item"
                                class="my-1"
                                active-class="text--accent-4"
                            >
                                <template v-slot:default="{ active, toggle }">
                                    <v-list-item-content>
                                        <v-list-item-title v-if="item.first_name">
                                            <v-icon class="mr-4">mdi-account</v-icon>
                                            {{item.first_name}} {{item.last_name}}
                                        </v-list-item-title>
                                        <v-list-item-title v-if="item.phone">
                                            <v-icon class="mr-4">mdi-phone-outline</v-icon>
                                            {{item.phone}}
                                        </v-list-item-title>
                                        <v-list-item-title v-if="item.email">
                                            <v-icon class="mr-4">mdi-email</v-icon>
                                            {{item.email}}
                                            <v-divider></v-divider>
                                        </v-list-item-title>
                                    </v-list-item-content>
                                    <v-btn
                                        fab
                                        small
                                        text
                                        v-if="active" @click="editEmployee(item)"
                                    >
                                        <v-icon>mdi-lead-pencil</v-icon>
                                    </v-btn>
                                    <v-btn
                                        fab
                                        small
                                        dark
                                        color="red"
                                        text
                                        v-if="active" @click="deleteEmployee(item.id)"
                                    >
                                        <v-icon>mdi-delete-empty</v-icon>
                                    </v-btn>
                                </template>
                            </v-list-item>
                        </template>
                    </v-scroll-y-transition>
                    <v-divider></v-divider>
                </v-list-item-group>
            </v-list>

            <v-pagination
                v-model="page"
                class="my-4"
                :length="length"
                @input="next"
            ></v-pagination>
        </v-card>
        <div v-else class="mt-5">No any employee</div>

        <v-dialog v-model="dialog" persistent max-width="600px">
            <v-card>
                <form @submit.prevent="addEmployee" class="mb-3">
                    <v-card-title>
                        <span class="headline">Employee</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container>
                            <v-row>
                                <v-col cols="12" sm="6">
                                    <v-text-field label="First name*" required
                                                  v-model="employee.first_name"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6">
                                    <v-text-field
                                        label="last name*"
                                        hint="example of persistent helper text"
                                        persistent-hint
                                        required
                                        v-model="employee.last_name"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field label="Email" v-model="employee.email"></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field label="Phone" v-model="employee.phone"></v-text-field>
                                </v-col>
                            </v-row>
                        </v-container>
                        <small>*indicates required field</small>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                        <v-btn :disabled="!validForm" type="submit" color="blue darken-1" text
                               @click="dialog = false">Save
                        </v-btn>
                    </v-card-actions>
                </form>
            </v-card>
        </v-dialog>
        <v-btn fixed dark fab bottom right color="pink" @click="dialog = true">
            <v-icon>mdi-plus</v-icon>
        </v-btn>
    </div>
</template>


<script>
    export default {
        data() {
            return {
                length: null,
                page: 1,
                loading: true,
                item: 1,
                dialog: false,
                active: [],
                avatar: null,
                open: [],
                employees: [],
                selectedEmployee: null,
                employee: {
                    first_name: null,
                    last_name: null,
                    email: null,
                    phone: null,
                    company_id: null
                },
            }
        },

        created() {
            this.employee.company_id = window.location.href.split('=')[1]
            this.fetchEmployees()
        },
        props: ['authUser'],
        methods: {
            next(page) {
                fetch('/api/employee/' + this.employee.company_id + '/' + page)
                    .then(res => res.json())
                    .then(res => {
                        this.employees = res[0].data
                        this.loading = false
                    })
                    .catch(err => console.log(err));
            },
            addEmployee() {
                if (this.selectedEmployee != null) {
                    this.saveEditedEmployee()
                } else
                    fetch('api/employee', {
                        method: 'post',
                        body: JSON.stringify(this.employee),
                        headers: {
                            'content-type': 'application/json'
                        }
                    })
                        .then(res => res.json())
                        .then(data => {
                            this.employee.first_name = '';
                            this.employee.last_name = '';
                            this.employee.email = '';
                            this.employee.phone = '';
                            this.fetchEmployees()
                        })
            },
            fetchEmployees() {
                fetch('/api/employee/' + this.employee.company_id + '/1')
                    .then(res => res.json())
                    .then(res => {
                        this.employees = res[0].data
                        this.loading = false
                        this.length = Math.ceil(res[0].total / 5)
                    })
                    .catch(err => console.log(err));
            },
            editEmployee(employee) {
                console.log(employee)
                this.selectedEmployee = employee
                this.employee.email = employee.email
                this.employee.phone = employee.phone
                this.employee.first_name = employee.first_name
                this.employee.last_name = employee.last_name
                this.dialog = true
            },
            saveEditedEmployee() {
                this.selectedEmployee.email = this.employee.email
                this.selectedEmployee.phone = this.employee.phone
                this.selectedEmployee.first_name = this.employee.first_name
                this.selectedEmployee.last_name = this.employee.last_name
                fetch('api/employee', {
                    method: 'put',
                    body: JSON.stringify(this.selectedEmployee),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                    .then(res => res.json())
                    .then(data => {
                        this.fetchEmployees()
                    })
            },
            deleteEmployee(id) {
                if (confirm('Sureeeee?')) {
                    fetch(`api/employee/${id}`, {
                        method: 'delete'
                    })
                        .then(res => res.json())
                        .then(data => {
                            this.fetchEmployees();
                        })
                }
            },
            openDialog() {
                this.employee.id = '';
                this.employee.first_name = '';
                this.employee.email = '';
                this.employee.last_name = '';
                this.employee.phone = '';
                this.selectedEmployee = null
                this.dialog = true
            }
        },

        computed: {
            validForm() {
                if (this.employee.first_name && this.employee.last_name) {
                    return true;
                }
            },
        }
    }
</script>
