<template>
    <v-navigation-drawer :value="drawerState" dark fixed temporary>
        <div class="blue lighten-1" style="height: 48px">
            <p class="text-center pt-3 subtitle-1 white--text">Admin</p>
        </div>
        <v-list-item>
            <v-list-item-avatar>
                <v-img src="https://randomuser.me/api/portraits/men/78.jpg"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
                <v-list-item-title class="ml-2">{{authUser.name}}</v-list-item-title>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list dense>

            <v-list-item
                :key="item.title"
                link
                v-for="item in items"
                @click="redirect(item.link)"
            >
                <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>

        <template v-slot:append>
            <div class="pa-2">
                <v-btn @click="logOut" block light>
                    <v-icon>mdi-logout</v-icon>
                    Logout
                </v-btn>
            </div>
        </template>
    </v-navigation-drawer>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        data() {
            return {
                items: [
                    {title: 'Companies', icon: 'mdi-office-building', link: '/companies'},
                    {title: 'Example link', icon: 'mdi-home', link: 'ex1'},
                    {title: 'Example link2', icon: 'mdi-monitor-dashboard', link: 'ex2'},
                    {title: 'Example link3', icon: 'mdi-checkbox-blank-circle-outline', link: 'ex3'},
                    {title: 'About', icon: 'mdi-information', link: 'ex4'},
                ],
            }
        },
        props: ['authUser'],
        computed: {
            ...mapState([
                'drawerState',
            ]),
        },
        methods: {
            logOut() {
                axios.post('logout').then(response => {
                    if (response.status === 302 || 401) {
                        location.reload()
                    }
                }).catch(error => {

                });
            },
            redirect(link){
                location.href = link
            }
        },

    }
</script>
