<template>
    <div>
        <v-app-bar
            color="blue lighten-1"
            dark
            dense
            fixed
        >
            <v-app-bar-nav-icon @click="openDrawer"></v-app-bar-nav-icon>

            <v-toolbar-title>Admin</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-progress-circular
                indeterminate
                color="primary"
                v-if="loading"
            ></v-progress-circular>
            <div v-else>
                <span class="text-xl-left ml-5 mr-1">{{city}}</span>
                <span class="text-xl-left ml-5 mr-1">{{temperature}} ℃</span>
                <v-icon>{{weather_icon}}</v-icon>
            </div>
        </v-app-bar>
    </div>
</template>


<script>
    import {mapActions, mapState} from 'vuex'
    import {APIService} from './../ApiService'

    const apiService = new APIService();

    export default {
        data() {
            return {
                loading: true,
                drawer: false,
                temperature: null,
                city: null,
                weather_icon: 'mdi-weather-partly-cloudy',
                weather: {
                    items: [
                        {
                            icon: 'mdi-weather-partly-cloudy',
                            weather_condition: 'clear'
                        },
                        {
                            icon: 'mdi-apple-icloud',
                            weather_condition: 'Clouds'
                        },
                        {
                            icon: 'mdi-weather-pouring',
                            weather_condition: 'Rain'
                        },
                        {
                            icon: 'mdi-weather-windy',
                            weather_condition: 'Windy'
                        }

                    ]

                }
            }
        },
        created() {
            this.getWeather()
            this.interval = setInterval(() => this.getWeather(), 100000);
        },
        methods: {
            ...mapActions([
                'updateDrawerState',
            ]),
            openDrawer() {
                this.updateDrawerState(Math.random())
            },
            getWeather() {
                var vm = this
                apiService.getWeather()
                    .then(response => response.json())
                    .then(function (response) {
                        var celsius = parseInt(response.main.temp - 273.15)
                        vm.temperature = celsius
                        vm.city = response.name

                        for (var item of vm.weather.items)
                            if (response.weather[0].main == item.weather_condition)
                                vm.weather_icon = item.icon

                        vm.loading = false
                    })
            }
        },
        props: ['authUser'],
        computed: {
            ...mapState([
                'drawerState',
            ]),
        },
    }
</script>
